.home-container {
  gap: 10;
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container1 {
  top: 533px;
  flex: 0 0 auto;
  left: 944px;
  width: auto;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
}
.home-container2 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: auto;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
}
.home-container3 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: auto;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
}
.home-link {
  display: contents;
}
.home-icon {
  flex: 1;
  left: -123px;
  width: var(--dl-size-size-small);
  bottom: -56px;
  height: var(--dl-size-size-small);
  position: absolute;
  text-decoration: none;
}
.home-link1 {
  display: contents;
}
.home-icon2 {
  flex: 1;
  left: -51px;
  width: var(--dl-size-size-small);
  bottom: -53px;
  height: var(--dl-size-size-small);
  position: absolute;
  align-self: flex-start;
  transition: 0.3s;
  text-decoration: none;
}

.home-text {
  top: 387px;
  left: 658px;
  position: absolute;
  font-size: 19px;
  font-family: Inter;
}
.home-text01 {
  text-transform: lowercase;
}
.home-text02 {
  text-transform: lowercase;
}
.home-text03 {
  text-transform: lowercase;
}
.home-text04 {
  text-transform: lowercase;
}
.home-text05 {
  text-transform: lowercase;
}
.home-text06 {
  text-transform: lowercase;
}
.home-text07 {
  text-transform: lowercase;
}
.home-text10 {
  color: var(--dl-color-gray-black);
  font-weight: 700;
}
.home-text12 {
  color: var(--dl-color-gray-black);
  font-weight: 700;
}
.home-text15 {
  top: 655px;
  left: 718px;
  position: absolute;
  font-size: 18px;
}
.home-link2 {
  display: contents;
}
.home-icon4 {
  top: 562px;
  left: 964px;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  position: absolute;
  text-decoration: none;
}
